.notificationContainer {
    width: 100%;
    position: relative;
    min-height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
        margin-top: 10px;
    }

    &:last-child {
        margin-bottom: 0px;
    }
}

.notification {
    font-size: 1rem;
    font-weight: 400;
    width: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 5px;

    &:hover {
        background-color: rgba(58, 59, 60, 0.1);
    }
}

.unread {
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}