.commentsContainerWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.commentWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 90%;
    align-self: center;
}

.observer {
    position: absolute;
    bottom: 200px;
}