.commentsContainerWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.commentWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 90%;
    align-self: center;

    h3 {
        word-wrap: break-word;
        overflow-wrap: anywhere;
    }
}

.centerHeader {
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        width: max-content;
        margin-top: 0px;
    }
}

.observer {
    position: absolute;
    bottom: 200px;
}