.postTitle {
    display: flex;
    flex-direction: row;

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
}

.commentSplit {
    display: flex;
    flex-direction: column;
    outline: 1px solid rgba(0, 0, 0, 0.25);

    > textarea {
        align-self: center;
        resize: vertical;
        width: 90%;
        min-height: 75px;
        max-height: 300px;
    }
}

.commentContainer {
    display: grid;
    grid-template-columns: 30px auto;
    padding: 5px 0 5px 0;
}

.profilePictureHolder {
    padding-left: 5px;
    img {
        border-radius: 50%;
    }
}

.contentHolder {
    padding-left: 10px;
}

.author {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
    p, a, i {
        padding: 0;
        margin: 0;
    }

    a {
        color: inherit;
        text-decoration: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
}

.comment {
    margin-top: 5px;
    margin-bottom: 5px;

    word-break: break-word;
    white-space: pre-line;

    margin-right: 25px;

    p {
        margin: 0;
    }
}

.commentControl {
    display: flex;
    flex-direction: row;
    padding-left: 7px;
    padding-bottom: 5px;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    button {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 45%;
    }
}

.controlContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50px;
    height: 30px;
    align-items: center;

    p {
        margin: 0px;
    }
}

.hoverBackground {
    cursor: pointer;

    &:hover {
        background-color: rgba(150, 150, 150, 0.5);
    }
}

.activeLike {
    background-color: rgba(0 119 255 / .06) !important;
    border-color: rgba(0 119 255 / .1);
    
    p {
        color: #07f;
    }

    &:hover {
        background-color: rgba(0 119 255 / .25) !important;
    }
}

.relativeWrapper {
    position: relative;
}

.optionsContainer {
    display: flex;
    flex-direction: column;

    > div {
        &.optionsContainerStyle {
            border-radius: 50%;
            width: 4px;
            height: 4px;
            background-color: black;
        }
    }
}

.optionsContainerContent {
    width: max-content;
    position: absolute;
    border: 2px solid rgba(0 0 0 / 0.25);
    background-color: white;
    transform: translateY(-50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        margin: 0 10px 0 10px;
        padding: 10px 0 10px 0;
        position: relative;
        cursor: pointer;

        &:not(:last-child) {
            border-bottom: 2px solid black;
        }
    }
}