.registerSiteWrapper {
    display: grid;
    place-content: center;
    grid-template-columns: 60% 40%;
    max-width: 90%;
    margin-left: 5%;
    min-height: calc(100vh - 92px);

    h1 {
        margin: 10px 0px 10px 0px;
    }
}

.mainContent {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    h1 {
        align-self: center;
        max-width: max-content;
    }
}

.registerSiteForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-right: 20px;
}

.error {
    min-height: 25px;
    color: red;
    max-width: 88%;
    margin-left: 6%;
    transform: translateY(-5px);
}

.loginNavigation {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 25px;

    h1, p {
        text-align: center;
        align-self: center;
        max-width: max-content;
    }
}

@media only screen and (max-width: 900px) {
    .registerSiteWrapper {
        grid-template-columns: 100%;
    }

    .loginNavigation {
        margin: 0px 0px 25px 0px;
    }
}

@media only screen and (max-width: 500px) {
    .fileInputWrapper {
        flex-direction: column;

        img {
            align-self: center;
            margin-bottom: 25px;
        }
    }
}