.postsContainerWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 750px;
    margin-bottom: 50px;
}

.limitSpace {
    width: 80%;
    min-height: 100%;
}

.observer {
    position: absolute;
    bottom: 600px;
}