.postsContainerWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100px;
    margin-bottom: 50px;
    width: 100%;

    margin-top: 25px;
}

.limitSpace {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 100%;

    gap: 10px;
}

.observer {
    position: absolute;
    bottom: 600px;
}

@media (max-width: 800px) {
    .limitSpace {
        width: 100%;
    }
}