.loginSiteWrapper {
    display: grid;
    place-content: center;
    grid-template-columns: 60% 40%;
    min-height: calc(100vh - 92px);
    max-width: 90%;
    margin-left: 5%;
    text-align: center;

    h1 {
        margin: 10px 0px 10px 0px;
    }
}

.mainContent {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    h1 {
        align-self: center;
        max-width: max-content;
    }
}

.loginSiteForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.registerNavigation {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 25px;

    h1 {
        align-self: center;
        max-width: max-content;
    }
}

.error {
    min-height: 25px;
    color: red;
}

@media only screen and (max-width: 900px) {
    .loginSiteWrapper {
        grid-template-columns: 100%;
    }

    .registerNavigation {
        margin: 0px 0px 25px 0px;
    }
}