.uploadSiteWrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: calc(100vh - 96px);
}

.imagePreview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    h2 {
        max-width: 80%;
        word-wrap: break-word;
        overflow-wrap: anywhere;
    }

    img {
        max-width: 80%;
        max-height: 80%;
    }
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;

    input {
        margin: 20px 0px;
    }
}