.uploadSiteWrapper {
    display: grid;
    width: 90%;
    margin-left: 5%;
    grid-template-columns: 50% 50%;
    min-height: calc(100vh - 96px);
}

.imagePreview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
    width: 100%;

    h2 {
        margin: 25px 10% 20px;
        max-width: 80%;
        word-wrap: break-word;
        overflow-wrap: anywhere;
    }

    img {
        margin: 0 10%;
        max-width: 80%;
        max-height: 80%;
    }
}

.minHeight {
    min-height: 50px;
}

.selectData {
    select {
        margin-left: 5%;
        width: 90%;
        height: 50px;
        border: none;
        border-bottom: 2px solid silver;
        outline: none !important;
    }

    label {
        color: grey;
        margin-left: 6%;
    }
}

.error {
    min-height: 25px;
    color: red;
    max-width: 88%;
    margin-left: 6%;
    transform: translateY(-5px);
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

@media (max-width: 1000px) {
    .uploadSiteWrapper {
        grid-template-columns: 100%;
        grid-row: 1;

        >div {
            min-width: 100%;
        }
    }
}