.modalWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10000;
    width: 90%;
    height: 90%;
    > div {
        > div {
            > div {
                padding-bottom: 25px;
            }
        }
    }
    img {
        max-height: 500px;
    }
}

.fadeIn {
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.25s;
}

.dur1s {
    animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    cursor: default;
}

.postsContainerWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 750px;
    margin-bottom: 50px;
}

.limitSpace {
    width: 80%;
    min-height: 100%;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.commentWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 90%;
    align-self: center;
}