body {
  margin: 0;
  font-family: 'Roboto';
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.modal-open, html.modal-open {
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *::after, *::before { box-sizing: border-box; }

html {
  overflow-y: auto;
  overflow-y: overlay;
}